<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سایت در دست تعمیر</title>
</head>
<body>
    <h1>سایت در دست تعمیراست</h1>
    <p>به زودی باز میگردیم</p>
</body>
</html>